<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuth2AuthUrl</key>
	<string>https://www.geniusu.com/oauth/authorize</string>
	<key>OAuth2TokenUrl</key>
	<string>https://www.geniusu.com/oauth/token</string>
	<key>OAuth2ClientId</key>
	<string>fc325fdd97423824b4fa82b3616735304e61960ca23b0c25b7c613e517b50ba6</string>
	<key>OAuth2Secret</key>
	<string>ea97521e94d48f1b8bffb21e8b72dc204fe1ed2e4e172d4eb5e11bc2094f60c9</string>
	<key>OAuth2Scope</key>
	<string>profile</string>
	<key>OAuth2RedirectUri</key>
	<string>ffyb://oauth/response</string>
</dict>
</plist>
